<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.liyongbiao.webservice.mapper.ItemsMapper">
  
  <!--定义商品查询的片段  优点是可以共享-->
  <sql id="query_items_where">
  <!--查询条件通过ItemQuerVO 包装对象中的ItemsCustom进行属性传递  -->
    <if test="itemscustom !=null">
      <if test="itemscustom.detail !=null and itemscustom.detail !=''">
         detail like'%${itemscustom.detail}%'        
      </if>
    </if>
  </sql>
  <!--商品列表查询  -->
  <select id="findItemsList" parameterType="com.liyongbiao.webservice.po.ItemsQueryVo" resultType="com.liyongbiao.webservice.po.ItemsCustom">
    SELECT * FROM items
    <where>
      <include refid="query_items_where"/>
     </where>
  </select>
 
</mapper>